BasedOnStyle: LLVM
IndentWidth: 4

AlignConsecutiveMacros: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: true
IncludeIsMainRegex: "^$"

# AlwaysBreakAfterDefinitionReturnType: All
# SpaceBeforeParens: Custom
# SpaceBeforeParensOptions:
#   AfterFunctionDefinitionName: true
